@import '_variables.scss';

.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  padding-top: 35px;
  padding-bottom: 35px;

  &__elem {
    grid-column: span 7;
    margin-left: 30px;
    padding-top: 30px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    max-width: 530px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
  }

  &__text {
    margin: 0;
    margin-bottom: 8px;
    max-width: 500px;
    line-height: 24px;
  }

  &__subtext {
    max-width: 612px;
    margin-bottom: 30px;
  }

  &__list {
    column-count: 3;
    margin-bottom: 30px;
  }


  &__subtitle {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
  }

  &::before {
    content: "";
    grid-column: span 5;
    background-image: url("../img/about__default-foto.png");
    background-repeat: no-repeat;
  }
}