@import '_variables.scss';

.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  padding-top: 35px;
  padding-bottom: 35px;

  &__elem {
    grid-column: span 7;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
    line-height: 24px;
  }

  &::before {
    content: "";
    grid-column: span 5;
    background-image: url("../img/about__default-foto.png");
    background-repeat: no-repeat;
  }
}