@import '_variables.scss';

.contacts {
  padding-top: 35px;
  padding-bottom: 35px;

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }

  &__item-one {
    position: absolute;
    z-index: 5;
    margin-top: 50px;
    grid-column: span 7;
    padding: 60px;
    border-radius: 5px;
    background-color: $grey;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    max-width: 615px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
  }

  &__title-letter {
    color: $orange;
  }

  &__input {
    margin-bottom: 30px;
  }

  &__btn {
    padding: 22px 55px;
  }

  &__item-two {
    position: absolute;
    right: 0;
    grid-column: span 6;
    padding-top: 85px;
    padding-left: 130px;
    padding-right: 40px;
    border-radius: 5px;
    background-color: $orange;
  }

  &__title-two {
    margin: 0;
    margin-bottom: 15px;
    max-width: 424px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    color: $white;
  }

  &__text {
    margin: 0;
    margin-bottom: 50px;
    max-width: 475px;
    line-height: 22px;
    color: $white;
  }

  &__link {
    padding: 21px 70px;
    border: 2px solid $grey;
    border-radius: 5px;
    font-weight: 700;
    color: $white;
    background-color: none;
    cursor: pointer;
    transform: border-color .3s, background-color .3s;
  }

  &__link:hover,
  &__link:focus {
    border-color: $orange;
    outline: none;
  }

  &__link:active {
    background-color: $orange
  }
}