@import '_variables.scss';

.footer {
  margin-top: 35px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $grey;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__div {
    grid-column: span 3;
  }

  &__logo {
    display: block;
    margin-bottom: 35px;
  }

  &__cube {
    flex-wrap: wrap;
  }

  &__site:not(:last-child) {
    margin-right: 15px;
  }

  &__list {
    display: flex;
    grid-column: span 9;
  }

  &__margin:not(:last-child) {
    margin-right: 183px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 19px;
  }

  &__sublink-margin:not(:last-child) {
    margin-bottom: 13px;
  }

  &__link-margin:not(:last-child) {
    margin-bottom: 12px;
  }

  &__icons {
    align-items: center
  }
}

@media (max-width: 1000px) {
  .footer {
    &__margin:not(:last-child) {
      margin-right: 70px;
    }
  }
}