@import '_variables.scss';

.header {
  padding-bottom: 20px;

  &__padding {
    padding-top: 23px;
    padding-bottom: 24px;
  }

  







  &__filter {
    display: flex;
    align-items: center;
    margin-right: 27px;
  }

  &__filter-subtitle {
    margin: 0;
    margin-right: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19.2px;
  }

  &__select {
    min-height: 50px;
  }

  &__last {
    position: relative;
  }

  &__last-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &__container {
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox {
    margin-top: 176px;
  }

  &__choices {
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1;
  }

  &__choices.is-open {
    overflow: visible;
  }

  &__choices.is-disabled &__choices__inner,
  &__choices.is-disabled &__choices__input {
    cursor: not-allowed;
    user-select: none;
  }

  &__choices {
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 15.3px;
  }

  &__choices:focus {
    outline: none;
  }

  &__choices:last-child {
    margin-bottom: 0;
  }

  &__choices.is-open {
    overflow: visible;
  }

  &__choices.is-disabled &__choices__inner,
  &__choices.is-disabled &__choices__input {
    cursor: not-allowed;
    user-select: none;
  }

  &__choices.is-disabled &__choices__item {
    cursor: not-allowed;
  }

  &__choices [hidden] {
    display: none;
  }

  &__choices[data-type*=select-one] {
    cursor: pointer;
  }

  &__choices[data-type*=select-one]::after {
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    left: 66px;
    top: 30%;
    border-right: 1px solid $orange;
    border-bottom: 1px solid $orange;
    pointer-events: none;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform .3s ease;
  }

  &__choices[data-type*=select-one].is-open::after {
    transform: rotate(225deg) translate(-2px, -2px);
  }

  &__choices__inner {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    transition: color .3s ease;
  }

  &__choices__inner:hover {
    color: $orange;
  }

  .is-focused &__choices__inner, .is-opened &__choices__inner {
    color: $orange;
    transform-origin: left;
    transition: transform .3s ease;
  }

  &__choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__choices__list--single {
    display: inline-block;
    width: 100%;
  }

  &__choices__list--single &__choices__item {
    width: 250px;
  }

  &__choices__list--dropdown {
    visibility: hidden;
    position: absolute;
    z-index: 5;
    margin-top: 7px;
    padding: 25px;
    border: 2px solid $grey;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18.2px;
    background-color: $white;
  }

  .is-active.header__choices__list--dropdown, .is-active.header__choices__list[aria-expanded] {
    visibility: visible;
  }

  &__choices__list--dropdown &__choices__list, &__choices__list[aria-expanded] &__choices__list {
    position: relative;
  }

  &__choices__list--dropdown &__choices__item, &__choices__list[aria-expanded] &__choices__item {
    position: relative;
    padding-bottom: 11px;
  }

  &__choices__list--dropdown &__choices__item.is-selected {
    display: none;
  }

  &__choices__item {
    cursor: default;
  }

  &__choices__item--selectable {
    cursor: pointer;
  }

  &__choices__item--disabled {
    cursor: not-allowed;
    user-select: none;
    opacity: 0.5;
  }

  &__choices-telegram {
    color: blue;
  }

  &__choices-whatsapp {
    color: green;
  }









  &__tel {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    margin-right: 219px;
    font-size: 14px;
    transition: color .3s ease;
    border: none;
    background: none;
  }

  &__tel::before {
    content: "";
    position: absolute;
    left: -2px;
    right: 1px;
    top: -1px;
    bottom: -2px;
    background-color: $bone;
    transform: scaleX(0);
    transform-origin: left;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }

  &__tel:hover {
    color: $secondary_light;
  }

  &__tel:focus:not(:active)::before {
    transform: scaleX(1);
  }
  
  &__tel:focus:not(:hover):not(:active) {
    color: $secondary;
    outline: none;
  }
  
  &__tel:active {
    color: $secondary_shade;
    transition: none;
  }

  &__menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  &__link-margin:not(:last-child) {
    margin-right: 30px;
  }

  &__holder {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__burger,
  &__menu-exit {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__subdiv {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $grey;
  }

  &__logo {
    display: block;
  }

  &__cube {
    padding-left: 50px;
    padding-right: 50px;
  }

  &__btn {
    padding: 17px 43px;
  }

  &__sublink-margin:not(:last-child) {
    margin-right: 40px;
  }

  &__search-div {
    align-items: center;
  }

  &__form {
    position: relative;
  }

  &__label {
    width: 715px;
  }

  &__input {
    padding: 18px;
    border-radius: 5px;
    width: 715px;
    height: 50px;
  }
  
  &__input::placeholder {
    line-height: 18.75px;
  }

  &__link-div {
    margin-top: 19px;
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__breadcrumbs-item {
    position: relative;
  }

  &__breadcrumbs-item:not(:last-child) {
    padding-right: 16px;
  }

  &__breadcrumbs-item:not(:last-child)::after {
    content: "/";
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
  }
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.last-link {
  color: $primary_shade;
}
