@import '_variables.scss';

.offer {
  padding-top: 15px;
  padding-bottom: 35px;
  
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }

  &__item {
    grid-column: span 2;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-sizing: border-box;
    height: auto;
  }

  &__cube {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 24px;
    border: 2px solid $grey;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 70px;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
  }
}