@import '_variables.scss';

.products {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;

  &__list {
    margin-bottom: 20px;
  }

  &__link {
    padding: 20px 45px;
  }

  &__link-margin:not(:last-child) {
    margin-right: 20px;
  }

  &__sublink {
    padding: 20px 45px;
    font-weight: 400;
  }

  &__slider-wrapper {
    position: relative;
  }
}
