$white: #FFFFFF;
$orange: #F7AC3B;
$sandy: #E39827;
$dark-orange: #C07E1B;
$grey: #F2F2F2;
$grey_shade: #747474;
$red: #E65425;
$blue: #2B74B9;
$green: #8AC44B;
$violet: #913E98;
$black: #000000;
$dark: rgba(0, 0, 0, 0.5);