$white: #FFFFFF;
$orange: #F7AC3B;
$sandy: #E39827;
$dark-orange: #C07E1B;
$grey: #F2F2F2;
$grey_shade: #747474;
$red: #E65425;
$blue: #2B74B9;
$green: #8AC44B;
$violet: #913E98;
$black: #000000;





$primary: #A65CF0;
$primary_light: #C998FB;
$primary_shade: #7033AC;
$pink_light: #F8EFFF;
$pink_violet: #EBD1FF;
$secondary: #FF862F;
$secondary_light: #FFBD59;
$secondary_shade: #BB370E;
$red_input: #FF6972;
$green_input: #B8EC64;
$gold: #D5B986;
$grey_light: #F6F6F6;
$md_grey: #EAEAEA;
$dark: rgba(0, 0, 0, 0.2);
$lime_color: #DAFFD1;
$bone: #FFF5D1;