@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/GothamPro-Regular.woff2") format("woff2"), url("../fonts/GothamPro-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  min-width: 320px;
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  background-color: #FFFFFF;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1360px;
}

.container-btn,
.container-subbtn,
.container-subbtn:active {
  display: inline-block;
  padding: 23px 91px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  color: #FFFFFF;
  background-color: #F7AC3B;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.container-btn:hover,
.container-btn:focus {
  background-color: #E39827;
  outline: none;
}

.container-btn:active {
  background-color: #C07E1B;
}

.container-subbtn {
  border: 2px solid #F2F2F2;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
  background: none;
}

.container-subbtn:hover,
.container-subbtn:focus {
  border-color: #F7AC3B;
  outline: none;
}

.container-link {
  padding: 0;
  border: none;
  font-size: 16px;
  line-height: 15px;
  background: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.container-link:hover,
.container-link:focus {
  color: #F7AC3B;
  outline: none;
}

.container-link:active {
  color: #C07E1B;
}

.container-site:not(:last-child) {
  margin-right: 15px;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.swiper-btn {
  position: absolute;
  z-index: 13;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.hero__btn--disabled,
.products__btn--disabled {
  pointer-events: none;
  -webkit-filter: grayscale(1) opacity(0.4);
          filter: grayscale(1) opacity(0.4);
  cursor: auto;
}

.swiper-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 10px / 2);
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.swiper-prev {
  right: 60px;
  -webkit-transform: translate(50%, -180%);
          transform: translate(50%, -180%);
}

.swiper-prev::before {
  left: calc(50% - 6px / 2);
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.swiper-next {
  right: 0;
  -webkit-transform: translate(0, -180%);
          transform: translate(0, -180%);
}

.swiper-next::before {
  left: calc(50% - 15px / 2);
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
}

.container-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(656 / 1280 * 100% - 20px);
  height: auto;
}

.container-cube {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  border: 2px solid transparent;
  border-color: #F2F2F2;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 227px;
}

.container-div {
  margin-bottom: 30px;
}

.container-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
}

.container-options {
  margin: 0;
  font-size: 14px;
  line-height: 13px;
  color: #747474;
}

.container-options:not(:last-child) {
  margin-bottom: 10px;
}

.container-options-letter {
  font-size: 16px;
  line-height: 15px;
  color: #000000;
}

.container-price {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
}

.modal {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.pop-up-container,
.modal-container {
  position: relative;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 624px;
  -webkit-transition: .5s;
  transition: .5s;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #F2F2F2;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.modal-close:hover {
  color: #A65CF0;
}

.modal-close:focus {
  color: #7033AC;
  outline: none;
}

.pop-up-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 78px;
}

.pop-up-text {
  font-size: 32px;
  line-height: 1;
  color: #000000;
}

.block-link {
  position: relative;
  width: 108px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  color: #A65CF0;
  -webkit-transition: color .3s, border-color .3s;
  transition: color .3s, border-color .3s;
}

.block-link:hover,
.block-link:focus {
  border-color: #A65CF0;
  outline: none;
}

.block-link:hover .block-btn {
  background-color: #A65CF0;
}

.block-link:hover .block-next::before,
.block-link:focus .block-next::before,
.block-link:active .block-next::before {
  border-color: #FFFFFF;
}

.block-link:focus .block-btn {
  background-color: #C998FB;
}

.block-link:active .block-btn {
  color: #7033AC;
  background-color: #7033AC;
}

.block-btn {
  position: absolute;
  z-index: 13;
  left: 86px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border: 2px solid #A65CF0;
  background: none;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.block-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 8px / 2);
  width: 6.5px;
  height: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.block-next::before {
  left: calc(50% - 10px / 2);
  border-top: 2px solid #A65CF0;
  border-right: 2px solid #A65CF0;
}

.checkbox-hidden {
  position: absolute;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.checbox-cube {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.checkbox-wrap,
.big-checkbox-wrap {
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.checkbox-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.checkbox-check {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  border: 2px solid #747474;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.checkbox-check::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.checkbox:focus:not(:checked) ~ .checkbox-content .checkbox-check,
.checkbox:checked ~ .checkbox-content .checkbox-check {
  border-color: #A65CF0;
  background-color: #A65CF0;
}

.checkbox:checked ~ .checkbox-content .checkbox-check::before {
  opacity: 1;
  background: url("../img/checkbox-mark.svg") no-repeat center;
}

.checkbox-text {
  max-width: 376px;
  font-size: 16px;
  line-height: 22px;
}

.container-label {
  position: relative;
  display: block;
  width: 400px;
}

.container-input {
  padding-left: 18px;
  border: none;
  border-radius: 10px;
  width: 400px;
  height: 60px;
  background-color: #FFFFFF;
  caret-color: #F7AC3B;
}

.container-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.container-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.container-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.container-input::placeholder {
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.container-input:hover::-webkit-input-placeholder {
  color: #F7AC3B;
}

.container-input:hover:-ms-input-placeholder {
  color: #F7AC3B;
}

.container-input:hover::-ms-input-placeholder {
  color: #F7AC3B;
}

.container-input:hover::placeholder {
  color: #F7AC3B;
}

.container-input:focus {
  border: none;
  outline: none;
}

.container-input-link {
  color: #A65CF0;
  text-decoration: underline;
}

.container-input-link:focus {
  outline: none;
}

.just-validate-error-label {
  position: absolute;
  line-height: 16.34px;
}

.is-valid {
  border-color: #B8EC64;
}

.is-invalid {
  border-color: #FF6972;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
  .container-subfoto {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
  .container-title {
    font-size: 24px;
  }
  .container-item {
    padding-top: 16px;
  }
  .container-elem {
    margin-left: 16px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 15.6px;
    color: #FF862F;
  }
  .container-star {
    width: 13px;
    height: 14px;
  }
  .container-cube {
    padding: 16px;
    min-height: 172px;
  }
  .container-subtitle,
  .container-price {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20.8px;
  }
  .container-mobile-btn {
    padding: 10px 23px;
  }
  .pop-up-container {
    margin: 70px auto;
    padding: 20px;
    width: 296px;
  }
  .modal-close {
    width: 12px;
    height: 12px;
    top: 16px;
    right: 16px;
  }
  .pop-up-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 32px;
    width: 194px;
  }
  .pop-up-div svg {
    width: 73px;
    height: 50px;
  }
  .pop-up-text {
    font-size: 16px;
    text-align: center;
  }
  .checkbox-text {
    font-size: 12px;
    line-height: 16.34px;
  }
}

.header {
  padding-bottom: 20px;
}

.header__padding {
  padding-top: 23px;
  padding-bottom: 24px;
}

.header__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 27px;
}

.header__filter-subtitle {
  margin: 0;
  margin-right: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19.2px;
}

.header__select {
  min-height: 50px;
}

.header__last {
  position: relative;
}

.header__last-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__checkbox {
  margin-top: 176px;
}

.header__choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1;
}

.header__choices.is-open {
  overflow: visible;
}

.header__choices.is-disabled .header__choices__inner,
.header__choices.is-disabled .header__choices__input {
  cursor: not-allowed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 15.3px;
}

.header__choices:focus {
  outline: none;
}

.header__choices:last-child {
  margin-bottom: 0;
}

.header__choices.is-open {
  overflow: visible;
}

.header__choices.is-disabled .header__choices__inner,
.header__choices.is-disabled .header__choices__input {
  cursor: not-allowed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__choices.is-disabled .header__choices__item {
  cursor: not-allowed;
}

.header__choices [hidden] {
  display: none;
}

.header__choices[data-type*=select-one] {
  cursor: pointer;
}

.header__choices[data-type*=select-one]::after {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  left: 66px;
  top: 30%;
  border-right: 1px solid #F7AC3B;
  border-bottom: 1px solid #F7AC3B;
  pointer-events: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.header__choices[data-type*=select-one].is-open::after {
  -webkit-transform: rotate(225deg) translate(-2px, -2px);
          transform: rotate(225deg) translate(-2px, -2px);
}

.header__choices__inner {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.header__choices__inner:hover {
  color: #F7AC3B;
}

.is-focused .header__choices__inner, .is-opened .header__choices__inner {
  color: #F7AC3B;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.header__choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.header__choices__list--single {
  display: inline-block;
  width: 100%;
}

.header__choices__list--single .header__choices__item {
  width: 250px;
}

.header__choices__list--dropdown {
  visibility: hidden;
  position: absolute;
  z-index: 5;
  margin-top: 7px;
  padding: 25px;
  border: 2px solid #F2F2F2;
  border-radius: 5px;
  font-size: 14px;
  line-height: 18.2px;
  background-color: #FFFFFF;
}

.header .is-active.header__choices__list--dropdown, .header .is-active.header__choices__list[aria-expanded] {
  visibility: visible;
}

.header__choices__list--dropdown .header__choices__list, .header__choices__list[aria-expanded] .header__choices__list {
  position: relative;
}

.header__choices__list--dropdown .header__choices__item, .header__choices__list[aria-expanded] .header__choices__item {
  position: relative;
  padding-bottom: 11px;
}

.header__choices__list--dropdown .header__choices__item.is-selected {
  display: none;
}

.header__choices__item {
  cursor: default;
}

.header__choices__item--selectable {
  cursor: pointer;
}

.header__choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.5;
}

.header__choices-telegram {
  color: blue;
}

.header__choices-whatsapp {
  color: green;
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 219px;
  font-size: 14px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  border: none;
  background: none;
}

.header__tel::before {
  content: "";
  position: absolute;
  left: -2px;
  right: 1px;
  top: -1px;
  bottom: -2px;
  background-color: #FFF5D1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  transition: -webkit-transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.header__tel:hover {
  color: #FFBD59;
}

.header__tel:focus:not(:active)::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__tel:focus:not(:hover):not(:active) {
  color: #FF862F;
  outline: none;
}

.header__tel:active {
  color: #BB370E;
  -webkit-transition: none;
  transition: none;
}

.header__menu {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__link-margin:not(:last-child) {
  margin-right: 30px;
}

.header__holder {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__burger, .header__menu-exit {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.header__subdiv {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F2F2F2;
}

.header__logo {
  display: block;
}

.header__cube {
  padding-left: 50px;
  padding-right: 50px;
}

.header__btn {
  padding: 17px 43px;
}

.header__sublink-margin:not(:last-child) {
  margin-right: 40px;
}

.header__search-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__form {
  position: relative;
}

.header__label {
  width: 715px;
}

.header__input {
  padding: 18px;
  border-radius: 5px;
  width: 715px;
  height: 50px;
}

.header__input::-webkit-input-placeholder {
  line-height: 18.75px;
}

.header__input:-ms-input-placeholder {
  line-height: 18.75px;
}

.header__input::-ms-input-placeholder {
  line-height: 18.75px;
}

.header__input::placeholder {
  line-height: 18.75px;
}

.header__link-div {
  margin-top: 19px;
}

.header__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__breadcrumbs-item {
  position: relative;
}

.header__breadcrumbs-item:not(:last-child) {
  padding-right: 16px;
}

.header__breadcrumbs-item:not(:last-child)::after {
  content: "/";
  position: absolute;
  top: 50%;
  right: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.last-link {
  color: #7033AC;
}

.hero {
  padding-top: 20px;
  padding-bottom: 15px;
}

.hero__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.hero__item {
  grid-column: span 5;
  padding-top: 60px;
}

.hero__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

.hero__text {
  margin: 0;
  margin-bottom: 50px;
  max-width: 420px;
  font-size: 16px;
  line-height: 22.4px;
}

.hero__swiper {
  position: relative;
  grid-column: span 7;
}

.hero__slider-wrapper {
  position: relative;
}

.hero__prev {
  right: 60px;
  -webkit-transform: translate(50%, -180%);
          transform: translate(50%, -180%);
}

.hero__pagination {
  position: absolute;
  top: 400px;
  width: 85px;
  height: 15px;
  outline: none;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #000000;
  cursor: pointer;
}

.offer {
  padding-top: 15px;
  padding-bottom: 35px;
}

.offer__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.offer__item {
  grid-column: span 2;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.offer__cube {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 24px;
  border: 2px solid #F2F2F2;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 70px;
}

.offer__text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

.products {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
}

.products__list {
  margin-bottom: 20px;
}

.products__link {
  padding: 20px 45px;
}

.products__link-margin:not(:last-child) {
  margin-right: 20px;
}

.products__sublink {
  padding: 20px 45px;
  font-weight: 400;
}

.products__slider-wrapper {
  position: relative;
}

.contacts {
  padding-top: 35px;
  padding-bottom: 35px;
}

.contacts__list {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.contacts__item-one {
  position: absolute;
  z-index: 5;
  margin-top: 50px;
  grid-column: span 7;
  padding: 60px;
  border-radius: 5px;
  background-color: #F2F2F2;
}

.contacts__title {
  margin: 0;
  margin-bottom: 30px;
  max-width: 615px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}

.contacts__title-letter {
  color: #F7AC3B;
}

.contacts__input {
  margin-bottom: 30px;
}

.contacts__btn {
  padding: 22px 55px;
}

.contacts__item-two {
  position: absolute;
  right: 0;
  grid-column: span 6;
  padding-top: 85px;
  padding-left: 130px;
  padding-right: 40px;
  border-radius: 5px;
  background-color: #F7AC3B;
}

.contacts__title-two {
  margin: 0;
  margin-bottom: 15px;
  max-width: 424px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: #FFFFFF;
}

.contacts__text {
  margin: 0;
  margin-bottom: 50px;
  max-width: 475px;
  line-height: 22px;
  color: #FFFFFF;
}

.contacts__link {
  padding: 21px 70px;
  border: 2px solid #F2F2F2;
  border-radius: 5px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: none;
  cursor: pointer;
  -webkit-transform: border-color .3s, background-color .3s;
          transform: border-color .3s, background-color .3s;
}

.contacts__link:hover, .contacts__link:focus {
  border-color: #F7AC3B;
  outline: none;
}

.contacts__link:active {
  background-color: #F7AC3B;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.about__elem {
  grid-column: span 7;
  margin-left: 30px;
  padding-top: 30px;
}

.about__title {
  margin: 0;
  margin-bottom: 20px;
  max-width: 530px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}

.about__text {
  margin: 0;
  margin-bottom: 30px;
  max-width: 610px;
  line-height: 24px;
}

.about__list {
  -webkit-column-count: 3;
          column-count: 3;
}

.about__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
}

.about::before {
  content: "";
  grid-column: span 5;
  background-image: url("../img/about__default-foto.png");
  background-repeat: no-repeat;
}

.earlier {
  padding-bottom: 35px;
}

.earlier__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.earlier__title {
  font-size: 24px;
  line-height: 23px;
}

.earlier__item {
  grid-column: span 3;
}

.footer {
  margin-top: 35px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #EAEAEA;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.footer__icons {
  grid-column: span 3;
}

.footer__logo {
  display: block;
  margin-bottom: 35px;
}

.footer__cube {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__site:not(:last-child) {
  margin-right: 20px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: span 9;
}

.footer__margin:not(:last-child) {
  margin-right: 100px;
}

.footer__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 19px;
}

.footer__link-margin:not(:last-child) {
  margin-bottom: 15px;
}

.guarantee {
  padding-top: 15px;
  padding-bottom: 30px;
}

.guarantee__title {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}

.guarantee__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
  border-bottom: 2px solid #F2F2F2;
}

.guarantee__elem:not(:last-child) {
  margin-right: 100px;
}

.guarantee__year {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: #F7AC3B;
}

.guarantee__text {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
}

.guarantee__cube {
  padding-top: 40px;
  padding-bottom: 15px;
}

.guarantee__subtitle {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 31px;
}

.guarantee__subcube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guarantee__subcube-text {
  text-align: center;
  margin: 0;
  border: 2px solid #F7AC3B;
  border-radius: 5px;
  padding: 38px 74px;
  max-width: 1080px;
  font-size: 20px;
  line-height: 26px;
}

.guarantee__subcube-letter {
  color: #F7AC3B;
}

.guarantee__div {
  -webkit-column-count: 2;
          column-count: 2;
}

.guarantee__rule {
  list-style-type: none;
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 21px;
}

.guarantee__rule:before {
  content: '.';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -20px;
  color: #F7AC3B;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */